<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>CurrencyConverterServlet</servlet-name>
        <servlet-class>CurrencyConverterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CurrencyConverterServlet</servlet-name>
        <url-pattern>/convert</url-pattern>
    </servlet-mapping>

</web-app>